@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Variáveis */
:root {
	/* Cores */
	--ciano: #32dfdf;
	--ciano-claro: #6beded;
	--azul-cinza-escuro: #1b2430;
	--azul-cinza: #30475e;
	--cinza-escuro: #282828;
	--cinza-claro: #f0ffffde;
	--branco-placeholder: #f0ffff94;
}

.main-contenedor{
	border: 0;
	padding: 40px;	
	margin: 80px auto 0px; 
	width: 100%;
	height: 100vh;
	justify-content: center;
}
.mainLogin {
	width: 100%;
	height: 100%;
	background: var(--azul-cinza-escuro);
	display: flex;
	justify-content: center;
	align-items: center;
}

.leftLogin {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.leftLogin > h1 {
	font-size: 3vw;
	color: var(--ciano);
}

.leftLoginImage {
	width: 25vw;
    margin-top: 20px;
    border-radius: 20px;
}

.rightLogin {
	width: 50vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardLogin {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	padding: 30px 35px;
	background: var(--azul-cinza);
	border-radius: 20px;
	box-shadow: 0px 0px 6px var(--azul-cinza);
}

.cardLogin > img {
	width: 15rem;
}

.cardLogin > h1 {
	color: var(--ciano);
	font-weight: 800;
	margin: 0;
}

.textfield {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 10px 0px;
	width: 100%;
}

.textfield > input {
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #1b243067;
	color: var(--cinza-claro);
	font-size: 12pt;
	box-shadow: 0px 6px 0px var(--azul-cinza-escuro);
	outline: none;
	box-sizing: border-box;
}

.textfield > label {
	color: var(--cinza-claro);
	margin-bottom: 10px;
	font-size: 14pt;
}

.textfield > input::placeholder {
	color: var(--branco-placeholder);
}

.btnLogin {
	width: 100%;
	padding: 16px 0px;
	margin: 25px;
	border: none;
	border-radius: 8px;
	outline: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	color: var(--azul-cinza);
	background: var(--ciano);
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px var(--ciano);
	transition: 0.25s ease-in-out;
}

.btnLogin:hover {
	background: var(--ciano-claro);
}
#mensajeLogin{
    color: red;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}


/* Responsividade */
@media only screen and (max-width: 950px) {
	.mainLogin {
		flex-direction: column;
	}
	.cardLogin {
		width: 80%;
	}
	.leftLogin {
		margin: 1rem;
	}
	.leftLogin > h1 {
		font-size: 20pt;
		text-align: center;
	}
	.leftLogin > img {
		width: 90%;
	}
}

@media only screen and (max-width: 600px) {
	.leftLogin {
		display: none;
	}
	.rightLogin {
		width: 100%;
		height: 100%;
		margin: 130px auto 30px;
	}
	.rightLogin img{
		display: none;
	}
	.leftLoginImage {
		width: 50vw;
	}
	.cardLogin {
		width: 90%;
	}
	footer{
  		bottom: 0;
  		width: 100%;
	}
}



