:root {
	/* Cores */
	--ciano: #32dfdf;
	--ciano-claro: #6beded;
	--azul-cinza-escuro: #1b2430;
	--azul-cinza: #30475e;
	--cinza-escuro: #282828;
	--cinza-claro: #f0ffffde;
	--branco-placeholder: #f0ffff94;
}
.servicios{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 40px;
    justify-content: center;
}
.servicio{
    background-color: white;
    color: black;
    padding: 20px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

@media(max-width: 600px){
    .servicio{
        width: 100%;
    }
}
